[Desktop Entry]
Type=Application
Name=SCAP Workbench Editor
Comment=GUI tool allowing editing of XCCDF files
TryExec=scap-workbench-editor
Exec=scap-workbench-editor
Icon=scap-workbench-editor
Categories=System;
X-Desktop-File-Install-Version=0.3

