[Desktop Entry]
Type=Application
Name=SCAP Workbench
GenericName=SCAP Scanner and Profile Editor
Comment=GUI tool that allows scanning both local and remote computers using SCAP content of your choice.
TryExec=scap-workbench
Exec=scap-workbench
Icon=scap-workbench
Categories=System;
X-Desktop-File-Install-Version=0.3
